<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Seu agendamento infelizmente foi cancelado!.</p>
  <p>Mas não se preocupe, estamos reembolsando o valor para sua conta pix cadastrada em nosso portal.</p>
  <p>
    <p>Disciplina: </p> <br>
    <p>{{title}}</p>
  </p>
  <p>
    <strong>A Equipe WebEduca agradece!</strong>
  </p>
</div>
