#page-agendar-disciplina {
  width: 100vw;
  height: 100vh;
  .page-header {
    .header-content {
      margin-bottom: 3.4rem;
    }
  }

  .profile-header {
    margin-top: 4rem;
    & > form {
      display: block;
      margin: 0 auto;
      width: 19rem;
    }
    h2,
    h3 {
      text-align: start;
    }

    h2 {
      color: var(--color-button-text);
      font-size: 4.2rem;
    }

    h3 {
      color: var(--color-line-in-white);
      font-weight: 400;
      font-size: 2rem;
    }
  }

  main {
    background: var(--color-box-base);
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 1rem;
    overflow: hidden;

    label {
      color: var(--color-text-complement);
    }

    .disciplina-info{
      width: 100%;

      padding: 2rem;
      gap: 1rem;

      .disciplina{

        border: 4px solid #cab6f8;
        padding: 1rem;
        border-radius: 10px;

        img {
          width: 64px;
          height: 64px;
        }

        .disponibilidades {
          display: flex;
          gap: 1rem;
          width: 32rem;
        }

        .dia-disponibilidade {
          display: flex;
          flex-direction: column;
          padding: 1rem;
          background: #cab6f8;
          border-radius: 10px;
          gap: 1rem;

          width: max-content;
        }
      }

      .avaliation{
        margin-top: 1rem; 
        min-height: 120px;
        max-height: 320px;

        border: 4px solid #cab6f8;
        padding: 1rem;
        border-radius: 10px;
        gap: 2rem;

        width: 100%;
      }

      .agendar{
        margin-top: 1rem; 
        border: 4px solid #cab6f8;
        padding: 1rem;
        border-radius: 10px;

        display: grid;
        grid-template-columns: 1fr 3fr;

        gap: 2rem;

        width: 100%;

        .hours {
          padding: 1rem;
          display: grid;
          grid-template-columns: repeat(8, 1fr);
          gap: 1rem;

          max-width: 100%;
          max-height: 100%;
          
          button{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            background: #cab6f8;
            border: none;
            border-radius: 10px;
            width: 4rem;
            height: 4rem;
          }
          
          .disable{
            background: #d1d1d1;
            cursor: default;    
          }
        }


      }

      .confirmar{
        margin-top: 2rem; 
        //padding: 1rem;
        border-radius: 10px;

        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        button{ 
          width: 100%;
        }
      }

      
    }

    .opiniao {
      text-decoration: none;
    }
    
    #avatar-prof{
      border-radius: 50%;
      width: 8rem;
      height: 8rem;

    }


    footer {
      display: flex;
      flex-direction: column;
      padding: 4rem 2.4rem;
      background: var(--color-box-footer);
      border-top: 1px solid var(--color-line-in-white);
      border-bottom: 1px solid var(--color-line-in-white);
      margin-top: 6.4rem;
      //margin-bottom: 6.4rem;
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: var(--color-text-complement);
        img {
          margin-right: 2rem;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  #page-agendar-disciplina {
    max-width: 100vw;

    .profile-header {
      margin-top: 4rem;
    }

    .page-header {
      .header-content {
        margin-bottom: 0;
      }
    }

    main {
      fieldset {
        padding: 0 4.4rem;
      }
      .schedule-item {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 1.6rem;
        .input-block {
          margin-top: 0 !important;
        }
      }

      .agendar {
        #btn-agendar {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
      }

      footer {
        padding: 4rem 6.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          justify-content: space-between;
        }
        button {
          width: 26rem;
          margin-top: 0;
        }
      }
    }
  }

  #subject-info,
  #personal-info,
  #list-info {
    display: grid;
    grid-column-gap: 1.6rem;
  }
}


/*
fieldset {
      border: 0;
      padding: 0 2.4rem;

      + {
        fieldset {
          margin-top: 6.4rem;
        }
      }

      legend {
        font: 700 2.4rem Archivo;
        color: var(--color-text-title);
        margin-bottom: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 1.6rem;
        border-bottom: 1px solid var(--color-line-in-white);
      }

      #disciplina {
        background: var(--color-box-base);
        //background: var(--color-input-background);
        width: 100%;
        max-width: 84rem;
        padding: 0.4rem;
        overflow: hidden;
        //margin-top: 1.4rem;
        transition: 1s;

        div {
          display: flex;
          flex-direction: row;
          margin: auto;

          p {
            margin-left: 6px;
          }
        }

        #desc {
          word-break: break-word;
        }
      }

      .agendar {
        margin-top: 2.4rem;

        #dia-disponibilidade {
          display: flex;
          flex-wrap: wrap;

          div {
            margin: 1rem;
            background-color: #d9cbf8;
            border-radius: 1rem;
            padding: 1rem;
          }
        }

        .button {
          width: 100%;
          height: 5.6rem;
          background: #8257e5;
          border: solid #8257e5;
          color: var(--color-button-text);
          //border: 0;
          border-radius: 0.8rem;
          cursor: pointer;
          font: 700 1.6rem Archivo;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          transition: background-color 0.5s;
          margin-top: 3.2rem;
          &:hover {
            background: #6c3cdd;
          }
        }

        #agenda {
          .react-datepicker__today-button {
            background: none;
            border-top: 1px solid;
            cursor: pointer;
            text-align: center;
            font-weight: bold;
            padding: 5px 0;
            clear: left;
          }
        }



        #reset-this-root {
          all: initial;
          * {
            all: unset;
          }
        }
      }
    }


*/