#page-agendar-disciplina {
  width: 100vw;
  height: 100vh;
  .page-header {
    .header-content {
      margin-bottom: 3.4rem;
    }
  }

  .profile-header {
    margin-top: 4rem;
    & > form {
      display: block;
      margin: 0 auto;
      width: 19rem;
    }
    h2,
    h3 {
      text-align: start;
    }

    h2 {
      color: var(--color-button-text);
      font-size: 4.2rem;
    }

    h3 {
      color: var(--color-line-in-white);
      font-weight: 400;
      font-size: 2rem;
    }
  }

  main {
    background: var(--color-box-base);
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem;
    overflow: hidden;
    label {
      color: var(--color-text-complement);
    }
    fieldset {
      border: 0;
      padding: 0 2.4rem;

      + {
        fieldset {
          margin-top: 6.4rem;
        }
      }

      legend {
        font: 700 2.4rem Archivo;
        color: var(--color-text-title);
        margin-bottom: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 1.6rem;
        border-bottom: 1px solid var(--color-line-in-white);
      }

      #disciplina {
        background: var(--color-box-base);
        //background: var(--color-input-background);
        width: 100%;
        max-width: 84rem;
        padding: 0.4rem;
        overflow: hidden;
        margin-top: 2.4rem;
        transition: 1s;

        div {
          display: flex;
          flex-direction: row;
          margin-top: auto;
          margin-top: 8px;

          p {
            margin-left: 6px;
          }
        }

        #desc {
          word-break: break-word;
        }
      }

      .agendar {
        margin-top: 2.4rem;

        #dia-disponibilidade {
          display: flex;
          flex-direction: row;
          //justify-content: space-between;

          div {
            margin-right: 2.4rem;
            background-color: #d9cbf8;
            border-radius: 1rem;
            padding: 1rem;
          }
        }

        button {
          width: 40%;
          height: 5.6rem;
          background: #8257e5;
          border: solid #8257e5;
          color: var(--color-button-text);
          //border: 0;
          border-radius: 0.8rem;
          cursor: pointer;
          font: 700 1.6rem Archivo;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          transition: background-color 0.5s;
          margin-top: 3.2rem;
          &:hover {
            background: #6c3cdd;
          }
        }
      }
    }
    footer {
      padding: 4rem 2.4rem;
      background: var(--color-box-footer);
      border-top: 1px solid var(--color-line-in-white);
      border-bottom: 1px solid var(--color-line-in-white);
      margin-top: 6.4rem;
      //margin-bottom: 6.4rem;
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: var(--color-text-complement);
        img {
          margin-right: 2rem;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  #page-agendar-disciplina {
    max-width: 100vw;

    .profile-header {
      margin-top: 7rem;
    }

    .page-header {
      .header-content {
        margin-bottom: 0;
      }
    }

    main {
      fieldset {
        padding: 0 4.4rem;
      }
      .schedule-item {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 1.6rem;
        .input-block {
          margin-top: 0 !important;
        }
      }

      .agendar {
        #btn-agendar {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
      }

      footer {
        padding: 4rem 6.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          justify-content: space-between;
        }
        button {
          width: 26rem;
          margin-top: 0;
        }
      }
    }
  }

  #subject-info,
  #personal-info,
  #list-info {
    display: grid;
    grid-column-gap: 1.6rem;
  }

  /*#subject-info {
    grid-template-columns: 4fr 2fr;
  }*/

  /*#list-info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      'name name name name cpf cpf'
      'email email email email password password'
      'avatar avatar avatar avatar pix pix';
  }

  #name-info {
    grid-area: name;
  }

  #cpf-info {
    grid-area: cpf;
  }

  #email-info {
    grid-area: email;
  }

  #password-info {
    grid-area: password;
  }

  #avatar-info {
    grid-area: avatar;
  }*/
}
